*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    
    width: 164px;
    height: 44px;
    background-color: #30B868;
    border: none;
    padding: 12px 16px 12px 16px;
    font-size: 12px;
    font-weight: bold;
    color:white;

}

header {
    background-color: #FFFFFF;
    padding-top: 16px;
}

nav{
   width: 1600px;
   margin: 0px auto;
   display: flex;
   justify-content: space-between;

}

nav .menu {
    width: 365px;
    height: 24px;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 32px;
    
}

nav .menu a {
    font-size: 12px;
    color: #000000;
    text-decoration:none;

}